/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.hidden{
    display: none !important;
}
.margin-center{
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    display: flex;
    float: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
