<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" routerLink="" (click)="navigate('/')" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="heroes" (click)="navigate('heroes')" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="heroes" class="nav-link">Heroes</a>
        </li>
    </ul>
</nav>