<!-- <button type="button" class="btn btn-secondary" [class.btn-info]="likeCount > 0" (click)="likeToggle()">
  Like {{ likeCount }}
</button> -->

<span [ngSwitch]="likeCount">
  <button type="button" class="btn btn-success" *ngSwitchCase="1">
    Like {{ likeCount }}
  </button>
  <button type="button" class="btn btn-primary" *ngSwitchCase="2">
    Like {{ likeCount }}
  </button>
  <button type="button" class="btn btn-info" *ngSwitchCase="3">
    Like {{ likeCount }}
  </button>
  <button type="button" class="btn btn-dark" *ngSwitchDefault>
    Like {{ likeCount }}
  </button>
</span>
