<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <!-- <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" routerLink="/">Author</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="courses" [queryParams]="{page : 1, limit : 5, sort : 'desc'}">Courses</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="name">Form name</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="reactive">Form Reactive</a>
    </li>
  </ul> -->

  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" (click)="navigate('/')">Author</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" (click)="navigate('courses')">Courses</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" (click)="navigate('name')" routerLinkActive="active">Form name</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" (click)="navigate('reactive')">Form Reactive</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" (click)="navigate('album')">Albums</a>
    </li>
  </ul>
</nav>