<div class="d-flex flex-wrap" *ngIf="users">
  <div class="card w-25 my-2" *ngFor="let user of users; let index = index">
    <img src="/assets/img/beckam.jpg" class="card-img-top w-100" alt="beckam">
    <div class="card-body">
      <h5 class="card-title">{{ user.name }}</h5>
      <p class="card-text" *ngIf="user.company">{{ user.company.name }}</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <small class="text-muted">{{ user.email }}</small>
      <small class="text-muted" (click)="delete(user, index)">Delete</small>
    </div>
  </div>
  <div class="w-25 d-flex justify-content-center align-items-center ">
    <i class="fas fa-plus display-1 font-weight-bold" (click)="openDialog()"></i>
  </div>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<nav class="d-flex justify-content-end mb-2">
  <div class="btn-group dropup mr-5">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Sort
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="sort('ascending')">Ascending</a>
      <a class="dropdown-item" (click)="sort('decending')">Decending</a>
    </div>
  </div>
  <ul class="pagination justify-content-end m-0">
    <li class="page-item"><a class="page-link" (click)="navigate('1')">Page 1</a></li>
    <li class="page-item"><a class="page-link" (click)="navigate('2')">Page 2</a></li>
  </ul>
</nav>
