<div class="album py-5 bg-light">
    <div class="row">
        <ng-container *ngIf="list.length; else elseTemplate">
            <div class="col-md-4" *ngFor="let image of list; let i = index">
                <app-image [image]="image"></app-image>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <p>No image!</p>
        </ng-template>
    </div>
</div>
<nav class="col-md-6" aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" [ngClass]="{'hidden': activePage <= 1}"
            (click)="navigatePage(activePage-1)">
            <a class="page-link" href="javascript:void(0);">Previous</a>
        </li>  
        <li class="page-item" [ngClass]="{'active': page+1 === activePage}"
            (click)="navigatePage(page+1)" 
            *ngFor="let page of totalPageList; let i = index">
            <a class="page-link" href="javascript:void(0);">{{page+1}}</a>
        </li>
        <li class="page-item" [ngClass]="{'hidden': activePage >= totalPageList.length}" 
            (click)="navigatePage(activePage+1)">
            <a class="page-link" href="javascript:void(0);">Next</a>
        </li>
    </ul>
</nav>